params.in = "$baseDir/fastq/*{1,2}.fastq.gz"
params.out = "$HOME/test"
params.abrdb = "$baseDir/db/ARGannot/ARGannot_r3.fasta"
params.adapters = "$baseDir/db/adapters/adapters.fa"
params.sizefilter = 3000
params.phix = "$baseDir/db/phix.fasta"
params.genome_db = "$baseDir/db/refseq.genomes.k21s1000.msh"
params.plasmid_db = "$baseDir/db/plasmid_all.fsa"
params.kraken_db = "$baseDir/db/minikraken2_v2_8GB_201904_UPDATE"

process {
  container = 'jiangweiyao/pandas_tabulate:latest'

}
singularity.enabled = true
//singularity.cacheDir = "$baseDir/cache/"
