params.in = "$baseDir/fastq/*{1,2}.fastq.gz"
params.out = "$HOME/test"
params.abrdb = "$baseDir/db/ARGannot/ARGannot_r3.fasta"
params.adapters = "$baseDir/db/adapters/adapters.fa"
params.sizefilter = 3000
params.phix = "$baseDir/db/phix.fasta"
params.genome_db = "$baseDir/db/refseq.genomes.k21s1000.msh"
params.plasmid_db = "$baseDir/db/refseq.plasmid.k21s1000.msh"
params.plasmid_db = "$baseDir/db/plasmid_all.fsa"
params.kraken_db = "$baseDir/db/minikraken2_v2_8GB_201904_UPDATE"

process {
  withName:fastqc {
    container = 'quay.io/biocontainers/fastqc:0.11.9--0'
  }
  withName:multiqc {
    container = 'quay.io/biocontainers/multiqc:1.8--py_2'
  }
  withName:adapter_trimming {
    container = 'quay.io/biocontainers/bbmap:38.86--h1296035_0'
  }
  withName:assembly {
    container = 'quay.io/biocontainers/spades:3.14.0--h2d02072_0'
  }
  withName:assembly_size_filter {
    container = 'quay.io/biocontainers/bbmap:38.86--h1296035_0'
  }
  withName:prokka {
    container = 'quay.io/biocontainers/prokka:1.14.6--pl526_0'
  }
  withName:quast {
    container = 'quay.io/biocontainers/quast:5.0.2--py37pl526hb5aa323_2'
  }
  withName:busco {
    container = 'ezlabgva/busco:v4.1.1_cv1'
  }
  withName:'kma.*' {
    container = 'quay.io/biocontainers/kma:1.3.2--hed695b0_0'
  }
  withName:'mash.*' {
    container = 'quay.io/biocontainers/mash:2.2.2--ha61e061_2'
  } 
  withName:'kraken.*' {
    container = 'quay.io/biocontainers/kraken2:2.0.9beta--pl526hc9558a2_0'
  } 
  withName:'krona.*' {
    container = 'biocontainers/krona:v2.7.1_cv1'
  }
  withName:mlst {
    container = 'quay.io/biocontainers/mlst:2.19.0--0'
  }
  withName:'tabulate.*' {
    container = 'jiangweiyao/pandas_tabulate:latest'
  }

}
singularity.enabled = true
//singularity.cacheDir = "$baseDir/cache/"
