params.in = "$baseDir/fastq/*{1,2}.fastq.gz"
params.out = "$HOME/test"
params.abrdb = "$baseDir/db/ARGannot/ARGannot_r3.fasta"
params.adapters = "$baseDir/db/adapters/adapters.fa"
params.sizefilter = 3000
params.phix = "$baseDir/db/phix.fasta"
params.genome_db = "$baseDir/db/refseq.genomes.k21s1000.msh"
params.plasmid_db = "$baseDir/db/plasmid_all.fsa"
params.kraken_db = "$baseDir/db/minikraken2_v2_8GB_201904_UPDATE"

process {
  withName:busco {
    container = 'ezlabgva/busco:v4.1.1_cv1'
  }

  container = 'jiangweiyao/quaisar_coregenome:latest'
}
singularity.enabled = true
//singularity.cacheDir = "$baseDir/cache/"

NXF_OPTS="-Xms1024m -Xmx10240m"
